<nav th:fragment="nav-menu" class="navbar navbar-expand-md py-3 shadow-lg mb-4" style="background-color: #0e1a33;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img class="logo-img" th:src="@{/img/RecruTechPCDLogoWhite.svg}" alt="logo App Grupo 3 RecruTechPCD Logo preto">
        </a>
        
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto">
                <div class="nav-item dropdown">
                    <a aria-expanded="false"
                       class="d-flex align-items-center text-decoration-none dropdown-toggle justify-content-center text-white nav-link"
                       data-bs-toggle="dropdown"
                       href="#">
                        <i class="bi bi-person-circle fs-4 me-2"></i>
                        <strong>[[${#authentication.principal.usuario.nome}]]</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow" data-bs-offset="0, 10">
                        <li><a class="dropdown-item fw-light font-monospace d-flex align-items-center" href="#">
                            <i class="bi bi-envelope me-2 fs-5"></i>[[${#authentication.principal.usuario.email}]]</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        
                        <li th:if="${#authentication.principal.usuario.tipoUsuario.name() == 'TALENTO'}">
                            <a class="dropdown-item" th:href="@{/candidaturas}">
                                <i class="bi bi-building-up me-2 fs-5"></i>
                                Minhas Conexões/Candidaturas
                            </a>
                        </li>
                        
                        <li th:if="${#authentication.principal.usuario.tipoUsuario.name() == 'RECRUTADOR'}">
                            <a class="dropdown-item" th:href="@{/vagas}">
                                <i class="bi bi-building-gear me-2 fs-5"></i>
                                Minhas Conexões/Vagas
                            </a>
                        </li>
                        
                        <li th:if="${#authentication.principal.usuario.tipoUsuario.name() == 'TALENTO'}">
                            <a class="dropdown-item" th:href="@{/talento/{id}(id=${#authentication.principal.usuario.id})}">
                                <i class="bi bi-gear me-2 fs-5"></i>
                                Detalhes de Conta
                            </a>
                        </li>
                        
                        <li th:if="${#authentication.principal.usuario.tipoUsuario.name() == 'RECRUTADOR'}">
                            <a class="dropdown-item" th:href="@{/detalhes-conta-recrutador}">
                                <i class="bi bi-gear me-2 fs-5"></i>
                                Detalhes de Conta
                            </a>
                        </li>
                        
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right me-2 fs-5"></i>Encerrar Sessão
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
